.header {
  padding: 2rem 0 2rem;
  display: flex;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  margin-bottom: 50px;
}

.list {
  display: flex;
  gap: 2rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}
